<%= simple_form_for(:help, url: new_help_path) do |f| %>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Help / Feedback</h4>
    <p>Stuck with something? Have a great idea? Let us know!</p>
  </div>

  <div class="modal-body">

    <div class="form-group">
      <textarea class="form-control" rows="8"><%= params[:message] %></textarea>
    </div>

  </div>

  <div class="modal-footer">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>

<% end %>
