<%= simple_form_for(:help_message, url: help_index_path) do |f| %>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Help / Feedback</h4>
  </div>

  <div class="modal-body">
    <p>
      Let us know if you have any questions or feedback.
    </p>
    <%= f.input :message, as: :text, label: false, input_html: { value: params[:message], placeholder: 'Write your message here...', rows: 8, data: { autofocus: true } } %>
  </div>
  <div class="modal-footer">
    <%= f.button :submit, class: 'btn btn-success', style: 'min-width: 100px;' %>
  </div>

<% end %>
