<%
url = blocks_path(type: 'text')
url = block_path(type: 'text', id: @block.id) if @block.persisted?
%>

<%= simple_form_for(@block, as: :block, url: url, remote: true) do |f| %>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title"><%= @block.new_record? ? 'Add' : 'Edit' %> Text</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <%= f.trix_editor :body, rows: 20, input: :block_body %>
      <span class="help-block"></span>
    </div>
  </div>

  <div class="modal-footer">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>

<% end %>
