<div class="block block-text" data-id="<%= text.id %>">

  <%= render 'blocks/controls', block: text %>

  <div class="block-content">
    <%= markdown sanitize(text.body, tags: %w(strong em a ul ol li blockquote br p)) %>
  </div>

</div>
