<%
url = blocks_path(type: 'video')
url = block_path(type: 'video', id: @block.id) if @block.persisted?
%>

<%= simple_form_for(@block, as: :block, url: url, remote: true) do |f| %>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title"><%= @block.new_record? ? 'Add' : 'Edit' %> Video</h4>
  </div>

  <div class="modal-body">
    <%= f.input :embed_url,
                label: 'Video Embed Code',
                placeholder: 'youtube.com / vimeo.com',
                hint: 'Copy and paste the embed code above.' %>
  </div>

  <div class="modal-footer">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>

<% end %>
