<div class="block block-video xcol-sm-4" data-id="<%= video.id %>">

  <%= render 'blocks/controls', block: video %>

  <div class="block-inner">
    <a data-embed href="<%= video.embed_url %>"></a>
  </div>

</div>
