<% content_for :page_title, 'Login' %>
<% content_for :body_class, 'bg-pattern' %>

<%# render 'navbar' %>

<div class="container-centered">
  <%= simple_form_for :session, url: sessions_path, html: { class: 'form-centered' } do |f| %>
    <%= f.input :email, label: false, input_html: { class: 'input-lg' } %>
    <%= f.input :password, label: false, input_html: { class: 'input-lg' } %>
    <%= f.button :submit, class: 'btn btn-success btn-lg btn-block' %>
  <% end %>

</div>
