//
// Variables
// --------------------------------------------------

$grayDark:              #5a5a5a;
$green:                 #00A79A;
$linkColor:             $green;
$sansFontFamily:        "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;


// Buttons
// -------------------------
$btnPrimaryBackground:              $linkColor;
$btnPrimaryBackgroundHighlight:     $linkColor;

