<div class="tab-pane <%= 'active' if params[:tab] == 'personal' %>" id="personal">
  <div class="col-sm-8">
    <h3>Personal</h3>
    <p>Personal profile, resume, hobby or interest</p>

    <p>Here's how Upsite can help</p>
    <ul>
      <li>A focus on you, without distracting ads and links</li>
      <li>One</li>
      <li>Three</li>
    </ul>

    <p>Perfect for stores, cafe's, restaurants, consultants, trainers and anyone offering personal services.</p>

    <h3>See how people are using Upsite to promote their business:</h3>
    <p>Examples go here</p>

    <h3>Get started for free</h3>
    <p>Inline signup form with targeted advantages</p>
    <ul>
      <li>Unlimited image uploads and storage of originals</li>
      <li>Three</li>
      <li>Guides and personal support to make an effective site</li>
    </ul>
  </div>
</div>
