<%= content_for :title, 'Sign up' %>

<div class="container">
  <div class="vertical-center">
    <div class="text-center">
      <a href="<%= root_url(subdomain: 'www') %>">
        <img alt="Upsite" src="<%= image_path('upsite.png') %>" height="45">
      </a>
      <hr class="spacer spacer-sm">
      <h2>Thanks for signing up.</h2>
      <p class="lead">
        We’ll be in touch soon. Follow our progress:
      </p>
    </div>
    <hr class="spacer spacer-xs">
    <div class="row text-center">
      <div class="col-sm-6 col-sm-offset-3">
        <a href="https://twitter.com/upsiteapp" class="btn xbtn-lg btn-twitter">
          <i class="fa fa-twitter"></i>&nbsp;
          Twitter
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="https://www.facebook.com/upsiteapp" class="btn xbtn-lg btn-facebook">
          <i class="fa fa-facebook-square"></i>&nbsp;
          Facebook
        </a>
      </div>
    </div>

  </div>
</div>
