<div class="widget" data-url="<%= widget_path(text) %>">

  <div class="container container-narrow">
  
    <div class="widget-controls">
      <a href="<%= edit_widget_path(text, params: { type: 'text' }) %>" title="" data-toggle="modal" data-target="#modal">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="<%= widget_path(text) %>" title="" data-method="delete" data-confirm="Are you sure you want to delete this widget?">
        <i class="fa fa-trash-o"></i>
      </a>
      <a href="#" class="move" title="">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <div class="content">
      <%= markdown text.body %>
    </div>

  </div>

  
</div>
