<div class="block block-not-an-ad">
  <h2>Ads</h2>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Display #1 -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-3056529423236801"
       data-ad-slot="6569274576"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <% if @site && current_user == @site.owner %>
    <div class="block-controls">
      <a href="<%= upgrade_path(source: 'remove-ads') %>"
        title="Remove Ads <span class='label label-success'>PRO</label>"
        data-toggle="modal" data-target="#modal"
        data-html="true"
        rel="tooltip"
        data-placement="left"
        data-animation="false">
        <i class="fa fa-trash-o"></i>
      </a>
    </div>
  <% end %>
</div>
