<div class=" block block-embed col-sm-4">
  <%# render 'styleguide/controls' %>
  <div class="block-inner">
    <iframe style="border: 0; width: 280px; height: 280px;" src="https://bandcamp.com/EmbeddedPlayer/album=3702053725/size=large/bgcol=ffffff/linkcol=7137dc/minimal=true/transparent=true/" seamless><a href="http://illuminatedpaths.bandcamp.com/album/potion-vapors">Potion Vapors by syrrup</a></iframe></a>
  </div>
</div>
