<div
  id="section-1"
  class="block block-image block-image-fill"
  style="background-image: url(<%= image_url('styleguide/sonic-pi/showbox.jpg') %>);">

  <div class="container">
    <h1>
      <img src="<%= image_url('styleguide/space.png') %>" class="ximg-responsive"><br>
      Text
    </h1>
  </div>
</div>

