<div class="block block-image col-sm-4">
  <%# render 'styleguide/controls' %>
  <div class="block-inner">
    <a href="#">
      <img src="<%= image_url('styleguide/space.png') %>" class="img-responsive">
    </a>
  </div>
</div>
