<div class="block block-image">
  <div class="container">
    <figure>
      <img src="<%= image_url('styleguide/space.png') %>" class="img-responsive">
      <figcaption>Caption</figcaption>
    </figure>
  </div>
</div>

