<div class="block block-text col-sm-4">
  <%# render 'styleguide/controls' %>
  <div class="block-inner">
    <p>
      <a href="http://illuminatedpaths.org/">Illuminated Paths</a><br><br>
      Vienna AT / Brighton UK<br><br>
      <a href="https://itunes.apple.com/gb/album/potion-vapors/id1038422371">iTunes</a> /
      <a href="https://open.spotify.com/album/2GAX3sJ03SYv7aDAlshsbd">Spotify</a><br />
      <br>band: <a href="mailto:denafrancis@gmail.com">denafrancis@gmail.com</a>
      <br>booking: <a href="mailto:archie@popcornbooking.com">archie@popcornbooking.com</a>
    </p>
  </div>
</div>
