<% image_align ||= 'left' %>

<div class="block block-text">
  <div class="container">

    <div class="col-md-12">
      <h2>ABOUT SONIC PI: LIVE & CODING</h2>
    </div>

    <div class="col-md-4 <%= 'col-md-push-8' if image_align == 'right' %>">
      <img class="img-responsive" src="http://placehold.it/800" />
    </div>

    <div class="col-md-8 <%= 'col-md-pull-4' if image_align == 'right' %>">
      <p>
      Sonic Pi: Live & Coding, a ground breaking digital research and development project, has been working intensively with Sonic Pi and looking at how the program can be used to provide new pathways for young people into digital music. The research-centred process involved a delivery team of instrumental music teachers, school music and computing teachers, researchers, technologists and artists who worked with children at two secondary schools (KS3) and a five day summer school to explore the creative potential of Sonic Pi and test and develop resources.
      </p>

      <p>
      Sonic Pi, a tool for creating music by writing code, enables users to define their own sounds, rhythm and tone and alter parameters and values whilst playing (live coding).
      </p>

      <p>
        This Toolkit is intended as a free, open source, bank of resources to support delivery of Sonic Pi: Live & Coding including; Sonic Pi v2.0 software, lesson plans, a set of short films, and inspirational works by artists.
      </p>
    </div>

  </div>
</div>