//
// Typography
// --------------------------------------------------

h1 {
  letter-spacing: -2px;

  a, a:hover {
    color: $black;
    text-decoration: none;
  }
}

h2 {
  // margin-bottom: 30px;
}

.text-muted a {
  color: #999;
}

.fa-ul {
  > li {
    margin-bottom: 22px;
  }
  .fa-li {
    @include translate(0, 3px);
  }
}

.panel h2:first-child {
  margin-top: 0;
}

.lead {
  font-size: 14px;
  font-weight: normal;
}

.lead-number {
  font-size: 36px;
  font-weight: 500;
}

.text-medium {
  font-size: 15px;
  color: #666;
}
