//
// Typography
// --------------------------------------------------

h1 {
  letter-spacing: -2px;

  span {
    color: #eee;
    font-weight: 200;
  }

  a,
  a:hover,
  a:focus {
    color: $black;
    text-decoration: none;
  }
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 20px;

  span {
    letter-spacing: normal;
  }
}

h3 {
  letter-spacing: -.5px;
  margin-bottom: 20px;
}

.page-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-muted a {
  color: #bbb;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

.text-small {
  font-size: $font-size-small;
}

.text-link {
  color: $text-color;
  border-bottom: 1px solid $text-color;

  &,
  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: none;
  }
}

ul {
  padding-left: 1.1em;

  li {
    margin-bottom: 5px;
  }
}

ul ul {
  margin-bottom: 9px;
}

.fa-ul {
  margin-left: 1.6em;
  .fa-li {
    @include translate(0, 1px);
  }

  li {
    margin-bottom: .4em;
  }
}

.lead {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.text-medium {
  font-size: 15px;
  color: #666;
}

mark {
  background: rgba(yellow, .2);
}

blockquote {
  font-size: $font-size-base;
  border-left: 3px solid #ddd;
  padding-left: 8px;
  font-style: italic;

  cite {
    font-style: normal;
    font-size: 11px;
  }
}

.underline {
  color: $text-color;
  border-bottom: 2px solid $green;

  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: none !important;
  }
}

.pre-lg {
  font-size: 14px;
  padding: 20px;
  white-space: pre-line;
  border-radius: 2px;
  margin-bottom: 0;
}

code {
  letter-spacing: normal !important;
  border-radius: 2px;
  padding: 3px 6px;
  border: 1px solid $pre-border-color;
}
