//
// Utilities
// --------------------------------------------------

.vertical-center {
  position: relative;
  margin-top: 30vh;
  @include translate(0, -30%);
}

.blank-slate {
  padding: 40px;
  color: lighten($gray, 50%);
  font-family: 'Reenie Beanie', cursive;
  line-height: 1;
  letter-spacing: -2px;
  @include rotate(-5deg);
  font-size: 30px;

  a {
    color: lighten($gray, 50%);

    &:hover {
      color: $blue;
    }
  }
}

.blank-slate-lead {
  font-size: 60px;
  letter-spacing: -4px;
}

.blank-slate-title {
  font-size: 80px;
  letter-spacing: -4px;
  text-decoration: underline;
}

.text-center-xs {
  text-align: center;

  @media (min-width: $screen-sm-min) {
    text-align: inherit;
  }
}
