//
// Variables
// --------------------------------------------------

// Grid
// -------------------

$grid-gutter-width:       30px;

$container-md: (960px + $grid-gutter-width);
$container-lg: $container-md;

// Colors
// -------------------

$white: #fff;
$black: #000;
$green: #00D37A;
$blue: #48A0DE;
$red: #FF4F4E;
$orange: #FF8724;

$gray-darker: lighten(#000, 13.5%);
$gray-dark: lighten(#000, 20%);
$gray: #9E9EA6;
$gray-light: lighten(#000, 60%);
// $gray-light: #eee;
$gray-lighter: #f7f7f7;

$purple: #a773d1;
$yellow: #FACE54;

$brand-primary: $green;
$brand-success: $green;
$brand-danger: $red;

$text-color: $black;
$link-color: $blue;

$input-color: $text-color;
$input-color-placeholder: darken($gray-lighter, 20%);

// Typography
// -------------------

$font-size-base: 12px;
$line-height-base: 1.5;
$font-size-small: 12px;
$font-family-sans-serif: 'Helvetica', sans-serif;

$font-size-h1: 48px;
$font-size-h2: 27px;
$font-size-h3: 18px;

$font-weight-base: 400;
$font-weight-bold: 900;
$headings-font-weight: 900;

// Components
// -------------------

$border-radius-base: 0px;
$border-radius-small: 0px;
$border-radius-medium: 0px;
$border-radius-large: 0px;

// Forms
// -------------------

$input-bg-disabled: $gray-lighter;

$state-danger-text: #c00;
$state-success-text: $green;
$state-success-border: $green;

// Buttons
// -------------------

$btn-border-radius-base: 0;
$btn-border-radius-large: 0;
$btn-border-radius-small: 0;

// Navbar
// -------------------

$navbar-height: 38px;
$navbar-inverse-bg: #323232;
$navbar-inverse-border: none;
$navbar-inverse-link-color: #fff;
$navbar-default-link-hover-color: #333;
$navbar-border-radius: 0;

// Jumbotron
// -------------------

$jumbotron-bg: transparent;
$jumbotron-font-size: 20px;
$jumbotron-heading-font-size: 42px;

// Wells
// -------------------

$well-bg: rgba(#FAFAFA, 0.5);
$well-border: #EEEEEE;

// Modals
// -------------------

$modal-backdrop-bg:           #000;
$modal-backdrop-opacity:      0.3;
$modal-content-border-color:  rgba(0,0,0,.1);
