//
// Scaffolding
// --------------------------------------------------

body {

  &.bg-pattern {
    background: image-url('pattern.png');
  }
}

a {
  @include transition(all .2s);
}

.container-centered {
  margin: 10% auto 0;
  text-align: center;
}

.container-narrow {
  margin: 0 auto;
  width: 620px;
}
