//
// Variables
// --------------------------------------------------

// Grid
// -------------------

$grid-gutter-width:       30px !default;
$container-large-desktop: ((940px + $grid-gutter-width));


// Colors
// -------------------

$white: #fff;
$black: #202224;
$blue: #4285f4;
// $green: #5cb85c;
$green: #29b17a;

$gray-darker:            lighten(#000, 13.5%);
$gray-dark:              lighten(#000, 20%);
$gray:                   lighten(#000, 45%);
$gray-light:             lighten(#000, 60%);
$gray-lighter:           lighten(#000, 93.5%);

$purple: #a773d1;

$yellow: #efc400;



// $body-bg:               #fff !default;

$text-color: $gray-dark;
$brand-primary: $blue;
$brand-success: $green;
$state-success-text: $green;
$brand-warning: $yellow;


// $text-color: lighten($gray-dark, 20%);
$link-hover-color: $brand-primary;


// Typography
// -------------------

$font-size-base: 17px;
$line-height-base: 1.7;
// $line-height-base:        1.72222; // 20/14
// $font-size-small: $font-size-base * .8;
$font-family-sans-serif: 'Lato', sans-serif;
// $font-family-sans-serif: 'Raleway', sans-serif;
// $headings-font-family: 'Varela Round', sans-serif;

$font-weight-light: 300;
$font-weight-bold: 600;


// Buttons
// -------------------

// $btn-default-color: $gray-dark;
// $btn-default-bg: $gray-light;
$btn-success-bg: #37b05a;
// $btn-success-bg: #a773d1;
// $btn-success-bg: #ff575a;
// $btn-success-bg: #da542e;


// Navbar
// -------------------

// $navbar-height:                    50px;
$navbar-default-bg:                $white;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;


// Forms
// -------------------

// $input-color-placeholder: $gray;
