//
// Variables
// --------------------------------------------------

$white: #fff;
$black: #000;
$blue: #4285f4;
$gray-dark: #616e7c;
$gray: lighten($gray-dark, 45%);
$gray-light: lighten($gray-dark, 50%);
$purple: #a773d1;

$text-color: lighten($gray-dark, 20%);
$font-size-base: 18px;
$font-size-small: $font-size-base * .8;
$font-family-sans-serif: 'Lato', sans-serif;
$font-weight-light: 300;

$brand-primary: $blue;
$input-color-placeholder: $gray;
$link-hover-color: $brand-primary;

$btn-default-color: $gray-dark;
$btn-default-bg: $gray-light;
// $navbar-height:                    50px;
$navbar-default-bg:                $white;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;
