//
// Variables
// --------------------------------------------------

// Grid
// -------------------

$grid-gutter-width:       30px !default;
$container-large-desktop: ((940px + $grid-gutter-width));


// Colors
// -------------------

$white: #fff;
$black: #000;
$blue: #4285f4;
$green: #5cb85c;
$gray-dark: #616e7c;
// $gray: lighten($gray-dark, 45%);
$gray-light: lighten($gray-dark, 50%);
$purple: #a773d1;


// $body-bg:               #fff !default;

$text-color: $black;
$brand-primary: $blue;
$brand-success: $green;
$state-success-text: $green;

// $text-color: lighten($gray-dark, 20%);
$link-hover-color: $brand-primary;


// Typography
// -------------------

$font-size-base: 16px;
// $font-size-small: $font-size-base * .8;
$font-family-sans-serif: 'Lato', sans-serif;
$font-weight-light: 300;


// Buttons
// -------------------

$btn-default-color: $gray-dark;
$btn-default-bg: $gray-light;


// Navbar
// -------------------

// $navbar-height:                    50px;
$navbar-default-bg:                $white;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;


// Forms
// -------------------

// $input-color-placeholder: $gray;
