<div class="block block-divider" data-id="<%= divider.id %>">

  <%= render 'blocks/controls', block: divider %>

  <div class="block-content">
    <% if divider.title.present? %>
      <h2><%= divider.title %></h2>
    <% end %>
  </div>

</div>
