<header class="block block-divider">
  <div class="cotainer container-narrow">

    <div class="block-controls">
      <a href="<%= edit_block_path(divider, params: { type: 'divider' }) %>" title="" data-toggle="modal" data-target="#modal">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="<%= block_path(divider) %>" title="" data-method="delete" data-confirm="Are you sure you want to delete this block?">
        <i class="fa fa-trash-o"></i>
      </a>
      <a href="#" class="move" title="">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <h2 data-nav-toc-anchor id="<%= divider.title.parameterize %>">
      <span><%= divider.title %></span>
    </h2>
  </div>
</header>