<% active ||= false %>

<div class="col-sm-6 text-center">
  <div class="well <%= 'well-success' if active %>">
    <h4 style="height: 19px;">Upsite</h4>
    <hr>
    <ul class="list-unstyled">
      <li><strong>Free</strong></li>
      <li><strong>1</strong> site</li>
      <li>–</li>
      <li><strong>Basic</strong> features</li>
    </ul>
    <hr>
    <% if active %>
      <a href="<%= cancel_url(subdomain: 'www') %>" class="btn btn-block btn-default">Cancel Account</a>
    <% else %>
      <a href="#" class="btn btn-block btn-default" disabled>Cancel Account</a>
    <% end %>
  </div>
</div>
