<div class="col-sm-6 text-center">
  <div class="well well-success">
    <h4>Upsite <span class="label label-success" style="display: inline-block; transform: translate(0px, -2px); padding: 4px 7px;">PROMO</span></h4>
    <hr>
    <ul class="list-unstyled">
      <li>
        <strong>Free</strong> for friends of Upsite
        <i class="fa fa-heart" style="color: #FF4F4E;"></i>
      </li>
      <li>Up to <strong>10</strong> sites</li>
      <li><strong>Help</strong> via email</li>
      <li><a class="text-link" href="<%= roadmap_url(subdomain: 'www') %>" target="roadmap">Future <strong>PRO</strong> features</a></li>
    </ul>
    <hr>
    <a href="<%= upgrade_cancel_url(subdomain: 'www') %>" class="btn btn-block btn-default">Cancel Account</a>
  </div>
</div>
