<div class="block-controls">
  <a href="#" class="move" title="">
    <i class="fa fa-bars"></i>
  </a>

  <a href="<%= block_path(block) %>" data-method="delete"
    data-confirm="Are you sure you want to delete this block?">
    <i class="fa fa-trash-o"></i>
  </a>
</div>
