<% if params[:type] %>

  <%= render "blocks/#{params[:type]}/form" %>

<% else %>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Add</h4>
  </div>

  <div class="modal-body">
    <div class="text-center">

      <% if @page.showboxes.length < 1 %>
        <a href="<%= new_block_path(type: 'showbox') %>" class="btn symbol" title="Showbox" rel="tooltip" data-toggle="modal" data-target="self" >
          <i class="fa fa-bookmark fa-lg"></i>
        </a>
      <% end %>

      <a href="<%= new_block_path(type: 'text') %>" class="btn symbol" title="Text" rel="tooltip" data-toggle="modal" data-target="self" >
        <i class="fa fa-font fa-lg"></i>
      </a>

    </div>
  </div>

<% end %>