<div class="vertical-center">
  <div class="blank-slate text-center">
    <h3 class="blank-slate-title">
      <a href="#">
        Get started!
      </a>
    </h3>
    <p class="blank-slate-lead">click the green button to start making your own website.</p>
    <p>
      (or <a href="#">click here to start with some example content</a>)</p>
    </p>
  </div>
</div>