<header class="page-header">
  <div class="container">
    <h1>
      <img src="<%= header.attachments.first.upload.url %>" alt="<%= @page.name %>" class="img-responsive">
    </h1>
  </div>
</header>

