<% content_for :favicon, site_favicon_link(@site) %>
<%= render 'sites/theme.css.scss' %>

<%= form_for @subscription, url: upgrade_path, method: 'DELETE', data: { stripe: "form" } do |f| %>

<div class="modal-header">
  <h3 class="modal-title text-center" style="font-size: 32px; margin-top: 10px;">
    Upsite
      <span class="label label-success" style="display: inline-block; transform: translate(0px, -4px); padding: 6px 10px;">PRO</span>
  </h3>
  <p class="lead text-center">
    for <%= @site.name %>
  </p>
  <hr style="margin-bottom: 0;">
</div>

<div class="modal-body">
  <h3 class="text-center">
    Are you sure you want to cancel your subscription?
  </h3>

  <hr class="spacer spacer-sm">

  <div class="row">
    <div class="col-sm-5 col-sm-offset-1 lead">
      <h3>No problem, here's what will happen:</h3>
      <ul>
        <li>You will retain access to all your sites</li>
        <li>You may not be able to add new content if you've exceeded the quota of the Free account</li>
        <li>Your subscription will be cancelled immediately and you will not be billed again</li>
      </ul>
    </div>
    <div class="col-sm-5 col-sm-offset-1">
      <h3>Reason for cancelling <span class="text-muted">(optional)</span></h3>
      <textarea name="reason" rows="6" cols="40" placeholder="What could make Upsite better?" class="form-control"></textarea>
    </div>
  </div>
  <hr class="spacer spacer-sm">
  <hr style="margin-bottom: 0; padding-bottom: 0;">
</div>

<div class="modal-footer" style="padding-top: 25px;">
  <div class="pull-left" style="margin-top: 8px;">
    <span class="text-muted">
      <i class="fa fa-lock"></i>&nbsp;
      Your sites will <strong>not</strong> be deleted and you can resubscribe at any time
    </span>
  </div>

  <a href="<%= site_url(@site) %>" class="btn btn-success">
    Keep subscription
  </a>

  &nbsp;&nbsp;

  <button type="submit" class="btn btn-danger">
    Cancel subscription
  </button>
</div>

<% end %>
