<% url = blocks_path(type: 'embed') %>

<%= simple_form_for(@block, as: :block, url: url, remote: true) do |f| %>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Add Embed</h4>
  </div>

  <div class="modal-body">
    <%= f.input :url, label: 'Embed URL',
                 hint: 'e.g. SoundCloud, Twitter, anything...' %>
  </div>

  <div class="modal-footer">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>

<% end %>
