//
// Blocks
// --------------------------------------------------

.blocks {
  margin-left: -15px;
  margin-right: -15px;
  @include clearfix;
}

.block {
  position: relative;
  margin: 0 15px 20px;

  @media (min-width: $screen-xs-min) {
    height: 300px;
    width: 300px;
    margin: 0 15px 30px;
    float: left;
  }

  &:hover {
    .block-controls {
      opacity: 1;
    }
  }
}

.block-content {
  a {
    color: $text-color;
    border-bottom: 1px solid $text-color;

    &:hover {
      text-decoration: none;
    }
  }
}

// Controls
// -------------------

.block-controls {
  opacity: 0;
  transition: opacity .3s;
  transition-delay: .3s;
  position: absolute;
  right: 7.5px;
  top: 7.5px;
  width: 20px;
  border-radius: 5px;
  text-align: center;
  z-index: 100;

  a {
    background: #ccc;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: block;
    border-radius: 50%;
    margin-bottom: 5px;

    &.move:hover {
      cursor: move;
    }
  }
}

// Block Types
// -------------------

.block-text {
  background: #f7f7f7;
  padding: 10px;

  * {
    font-size: 12px;
  }

  ul, ol {
    padding-left: 15px;
  }

  blockquote {
    border-left: 2px solid #ccc;
    padding: 5px 10px;
    font-style: italic;
  }

  pre {
    font-family: Courier, monospace;
    font-size: 11px;
    padding: 5px;
  }
}

.block-image {
  overflow: hidden;
  line-height: 300px;
  text-align: center;

  // img-responsive
  .embed img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  img ~ a {
    display: none;
  }
}

.block-audio {
  text-align: center;
}

.block-video {
  background: #000;

  iframe {
    width: 300px;
    height: 300px;
  }
}

.block-map {
  iframe {
    width: 300px;
    height: 300px;
  }
}

.block-drag-guide {
  width: 300px;
  height: 300px;
  background: #e5e9fb;
}

.block-site {
  border: 14px solid #eee;
  overflow: hidden;
  max-height: 300px;

  .block-link {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  .block-inner {
    background: #fff;
    pointer-events: none;
    padding: 20px;
  }

  .block-caption {
    background: #eee;
    color: #555;
    display: inline-block;
    position: absolute;
    right: -7px;
    bottom: -7px;
    padding: 5px 10px;
  }

  &.is-themed .block-caption {
    color: #fff;
  }

  .page-header {
    padding: 10px 0;

    h1 {
      line-height: .95em;
      margin-bottom: 10px;
    }
  }
}

.block-not-ad {
  background: #fbfbfb;
  border: 2px solid #eee !important;
  padding: 7.5px;

  .not-ad-label {
    background: #efc522;
  }

  .not-ad-media {
    text-align: center;
    padding: 20px 10px;
  }

  .not-ad-via {
    font-size: 11px;
    margin-top: 20px;
    color: #ccc;
    text-align: center;
    display: block;
  }
}
