//
// Buttons
// --------------------------------------------------

.btn-default {
  border: 1px solid $btn-default-border;

  &:hover,
  &:focus,
  &:active {
    border: 1px solid $btn-default-border;
    background: $white;
  }
}

.btn-success {
  font-weight: bold;
  $background: $btn-success-bg;
  $border: $btn-success-border;
  border-color: $btn-success-bg;

  &:focus,
  &.focus,
  &:hover {
    @include box-shadow(none);
    background-color: $background;
        border-color: $border;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-color: $background;
        border-color: $border;

    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
  }
}

.btn-success-outline {
  border: 1px solid rgba($btn-success-bg, .5);
  color: $btn-success-bg !important;

  &:hover,
  &:focus,
  &:active {
    border-color: $btn-success-bg;
  }
}

.btn-danger {
  font-weight: bold;
}

.btn-danger-outline {
  border: 1px solid $btn-danger-bg;
  color: $btn-danger-bg !important;
}

.btn-sm {
  color: #fff;
  background: #eee;

  &:hover {
    color: #fff;
  }
}

.btn-circle {
  color: #555;
  font-weight: $font-weight-bold;
  @include transition(all, .2s);

  &:hover,
  &:focus,
  &:active,
  &.active {
    @include box-shadow(none);
    @include translate(0, -2px);
    // @include scale(1.1);

    .symbol-gray {
      background-color: #738089;
    }

    .symbol-gray-light {
      background-color: #ddd;
    }

    .symbol-red {
      background-color: $red;
    }

    .symbol-orange {
      background-color: $orange;
    }

    .symbol-green {
      background-color: #51bd88;
    }

    .symbol-blue {
      background-color: #43a6d8;
    }

    .symbol-purple {
      background-color: #a77ac3;
    }
  }

  &.disabled {
    @include opacity(0.4);
  }
}

.btn-lg {
  padding: 12px 16px;
  font-weight: $font-weight-bold;
  margin-top: 10px;
}

.btn-group {
  margin-bottom: 5px;
}

.btn .label {
  padding-bottom: 2px;
}

.btn-patreon {
  &,
  &:hover,
  &:focus {
    color: #fff;
    background: #f45c0e;
  }
}

// Intercom style contact button
.btn-contact {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: block;
  width: 50px;
  height: 50px;
  background: #38D36E;
  color: #fff !important;
  font-size: 22px;
  border-radius: 100%;
  box-shadow: 0 0 5px hsla(0,0%,100%,.1), 0 0 10px 0 rgba(0,0,0,.15);

  &:focus,
  &:hover,
  &:active {
    outline: none !important;
  }
}
