//
// Buttons
// --------------------------------------------------

.btn-default {
  &:hover, &:focus {
    background: lighten($gray-lighter, 3%);
  }
}

.btn-success {
  font-weight: bold;
  $background: $btn-success-bg;
  $border: $btn-success-border;
  border-color: $btn-success-bg;

  &:focus,
  &.focus,
  &:hover {
    background-color: darken($background, 5%);
        border-color: darken($border, 8%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-color: darken($background, 5%);
        border-color: darken($border, 8%);

    &:hover,
    &:focus,
    &.focus {
      background-color: darken($background, 8%);
          border-color: darken($border, 10%);
    }
  }
}

.btn-success-outline {
  border: 2px solid $btn-success-bg;
  border-radius: 2px;
  color: $btn-success-bg !important;
}

.btn-sm {
  color: #fff;
  background: #eee;

  &:hover {
    color: #fff;
  }
}

.btn-circle {
  color: #555;
  font-weight: $font-weight-bold;
  @include transition(all, .2s);

  &:hover,
  &:focus,
  &:active,
  &.active {
    @include box-shadow(none);
    @include translate(0, -2px);
    // @include scale(1.1);

    .symbol-gray {
      background-color: #738089;
    }

    .symbol-gray-light {
      background-color: #ddd;
    }

    .symbol-red {
      background-color: $red;
    }

    .symbol-orange {
      background-color: $orange;
    }

    .symbol-green {
      background-color: #51bd88;
    }

    .symbol-blue {
      background-color: #43a6d8;
    }

    .symbol-purple {
      background-color: #a77ac3;
    }
  }

  &.disabled {
    @include opacity(0.4);
  }
}

.btn-lg {
  padding: 12px 16px;
  font-weight: $font-weight-bold;
  margin-top: 10px;
}

.btn-link {
  text-decoration: underline;
  font-weight: bold;

  &, &:hover {
    color: $black;
  }
}

.btn-group {
  margin-bottom: 5px;
}

.btn .label {
  padding-bottom: 2px;
}
