//
// Buttons
// --------------------------------------------------

.btn-success {
  $background: $btn-success-bg;
  $border: $btn-success-border;
  border: none !important;

  &:focus,
  &.focus,
  &:hover {
    background-color: darken($background, 5%);
        border-color: darken($border, 8%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-color: darken($background, 5%);
        border-color: darken($border, 8%);

    &:hover,
    &:focus,
    &.focus {
      background-color: darken($background, 8%);
          border-color: darken($border, 10%);
    }
  }
}

.btn-success-outline {
  border: 2px solid $btn-success-bg;
  border-radius: 2px;
  color: $btn-success-bg !important;
}

.btn-circle {
  color: $gray-light;
  font-weight: $font-weight-bold;
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $gray;
    @include transition(all, .2s);
    @include translate(0, -2px);
  }

  &.disabled {
    @include opacity(0.4);
  }
}

.btn-lg {
  padding: 16px 26px;
  font-weight: $font-weight-bold;
}

@mixin btn-social($color) {
  font-weight: 700;
  border: 2px solid $color;
  &,
  &:hover,
  &:focus {
    color: $color;
  }
}

.btn-twitter {
  @include btn-social(#54ABEE);
}

.btn-facebook {
  @include btn-social(#4763A1);
}
