//
// Dropzone
// --------------------------------------------------

.dropzone {
  min-height: 0px;

  border: 1px dashed $input-border;
  border-radius: $input-border-radius;
  margin: 0 3px 0 2px;
  padding: 10px 10px;

  .dz-default {
    min-height: 134px;
    line-height: 134px;
  }

  &.dz-started {
    border: 1px solid $input-border;
  }

  .dz-message {
    margin: 10px 0;
  }

  .dz-preview {
    .dz-image {
      border-radius: 0;
    }

    .dz-details {
      display: none;
    }

    .dz-error-message {
      border-radius: 0;
      background: $brand-danger;
      white-space: nowrap;
      padding: 3px 8px;
      font-size: 12px;
      line-height: 1.4;
      text-align: center;
      opacity: 1;

      &:after {
        border-bottom-color: $brand-danger;
      }
    }

    &:hover .dz-image img {
      filter: none;
      -webkit-filter: none;
      transform: none;
    }
  }

}
