//
// Dropzone
// --------------------------------------------------

.dropzone {
  min-height: 0px;
  border: 1px dashed $input-border;
  border-radius: $input-border-radius;
  margin: 0 3px 0 2px;
  padding: 10px;

  &.dz-started {
    border: 1px solid $input-border;
  }

  .dz-message {
    margin: 10px 0;
  }

  .dz-preview {
    .dz-image {
      border-radius: 5px;
    }
  }
}
