//
// Footer
// --------------------------------------------------

.footer {
  padding: 15px 0 20px 0;
  font-size: 14px;
  letter-spacing: 1px;

  &, a {
    color: #bbb;
  }

  .small {
    font-size: 12px;
    font-weight: 500;
  }

  .text-left,
  .text-right {
    text-align: center;
  }

  @media (min-width: $screen-sm-min) {
    .text-left {
      text-align: left;
    }

    .text-right {
      text-align: right;
    }
  }

  .list-inline li {
    @media (min-width: $screen-sm-min) {
      padding-left: 20px;
    }

    @media (min-width: $screen-md-min) {
      padding-left: 40px;
    }
  }
}
