//
// Footer
// --------------------------------------------------

.page-footer {
  margin: 40px 0;

  a {
    text-decoration: none;
    
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
