//
// Forms
// --------------------------------------------------

.form-control {
  border: 1px solid #bbb;
  box-shadow: none;
  padding: 18px 15px;
}

.control-label {
  .label {
    display: inline-block;
    @include translate(0px, -1px);
    padding-top: 3px;
    padding-bottom: 2px;
  }
}

textarea.form-control {
  padding-top: 10px;
}

label {
  a {
    color: $black;
    text-decoration: underline;
    .has-error & {
      color: #c00;
    }
  }
}

label.small {
  font-size: $font-size-small;
}

.help-block {
  font-size: $font-size-small;

  &, a {
    color: $gray-light;
  }

  a {
    text-decoration: underline;
  }
}

.btn-lg + .help-inline {
  display: inline-block;
  @include translate(20px, 4px);
}

.has-error,
.has-success {
  .form-control {
    & {
      border-color: $input-border;
      @include box-shadow(none);
    }

    &:focus {
      border-color: $input-border-focus;
      @include form-control-focus($input-border-focus);
    }
  }

  .input-group-addon {
    border-color: $input-border;
    background: $input-group-addon-bg;

    i {
      color: $input-color;
    }
  }

  .control-label, label, label a {
    color: inherit;
  }

  &.text-muted label {
    color: $text-muted;
  }

  .help-block {
    text-align: right;
    font-weight: bold;
  }
}

.has-feedback {
  .input-group .form-control-feedback {
    top: 12px;
  }
}

// Disabled 'PRO' fields
.form-group-click-target {
  color: #000 !important;
  display: block;

  &,
  .control-label,
  .form-control {
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}
