//
// Forms
// --------------------------------------------------

.form-centered {
  max-width: 500px;
  margin: 0 auto;
  background: $white;
}

.addon-color {
  display: block;
}

.help-block {
  font-size: $font-size-small;
  color: $gray-light;
}

.form-control {
  border: 3px solid #eee;
  box-shadow: none;
}

label {
  a {
    color: $black;
    text-decoration: underline;
    .has-error & {
      color: #c00;
    }
  }

}
