//
// Forms
// --------------------------------------------------

.help-block {
  font-size: $font-size-small;

  &, a {
    color: $gray-light;
  }

  a {
    text-decoration: underline;
  }
}

.form-control {
  border: 1px solid #bbb;
  box-shadow: none;
  padding: 18px 15px;
}

textarea.form-control {
  padding-top: 10px;
}

label {
  a {
    color: $black;
    text-decoration: underline;
    .has-error & {
      color: #c00;
    }
  }
}

.has-error {
  .form-control {
    & {
      border-color: #bbb;
      @include box-shadow(none);
    }

    &:focus {
      border-color: $input-border-focus;
      @include form-control-focus($input-border-focus);
    }
  }

  .control-label, label, label a {
    color: $black;
  }

  .help-block {
    text-align: right;
    font-weight: bold;
  }
}

.btn-lg + .help-inline {
  display: inline-block;
  @include translate(20px, 4px);
}
