//
// Icons
// --------------------------------------------------

.icon {
  color: $gray-light;
  font-size: 50px;
  line-height: 55px;
  margin: 0 auto;
}

.fa-heart { color: #f36c69; }
.fa-bullhorn { color: #c47dff; }
.fa-globe { color: #7baeeb; }
.fa-comments { color: #57cf7b; }
.fa-rocket { color: #facb75; }
