//
// Jumbotron
// --------------------------------------------------

.jumbotron .lead {
  font-size: 18px;

  @media (min-width: $screen-sm-min) {
    font-size: 20px;
  }
}

.jumbotron h1 {
  font-size: 36px;

  @media (min-width: $screen-sm-min) {
    font-size: 42px;
  }
}

.jumbotron-home {
  background: image-url('website/jumbotron.png') no-repeat;
  background-size: 860px;
  background-position: 55% 0;
  padding-top: 270px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: -22px;

  .container {
    @media (min-width: $screen-sm-min) {
      padding: 0 100px;
    }

    @media (min-width: $screen-md-min) {
      padding: 0 200px;
    }
  }
}
