//
// Modals
// --------------------------------------------------

.modal {
  form {
    margin: 0;
  }
}

.modal-content {
  box-shadow: 0 3px 9px rgba($black, .2);
  // box-shadow: none;
  // border: 8px solid #f7f7f7;
  border: 0;
  padding: 10px;
}

.modal-nav {
  padding-left: 14px;
}

.modal-header,
.modal-footer {
  border-color: $white;
}

.modal-header {
  .nav-tabs {
    margin-top: 10px;
  }
}

.modal-footer-btn {
  padding: 0;

  .btn-block {
    background: $gray-lighter;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-transform: uppercase;
    color: $gray-light;
  }
}

.modal-xl {
  z-index: 60000;

  .modal-dialog {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
  .modal-content {
    width: 100vw;
    height: 100vh;
  }
}
