.page-header {
  padding: 40px 0 25px 0;
  margin: 0;
  border: 0;
  text-align: center;

  @media (min-width: $screen-sm-min) {
    text-align: left;
  }

  h1 {
    margin: 0;
  }

  h5 {
    margin: 0 0 5px 0;
  }

  h1 a,
  h5 a {
    color: $text-color;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px;
  }

  .lead {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }

  .text-right {
    text-align: center;

    @media (min-width: $screen-sm-min) {
      text-align: right;
    }

    .btn {
      margin-top: -25px;
    }
  }
}

.page-description {
  a {
    color: #000;
    border-bottom: 1px solid #000;

    &:hover {
      text-decoration: none;
    }
  }
}
