.page-header {
  padding: 40px 0 25px 0;
  margin: 0;
  border: 0;

  h1 {
    margin: 0;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px;

    > a:not(.btn) {
      color: #000;
    }
  }

  .text-right {
    text-align: left;

    @media (min-width: $screen-sm-min) {
      text-align: right;
    }
  }
}
