//
// Symbols
// --------------------------------------------------

.symbol {
  $size: 100px;
  width: $size;
  height: $size;
  line-height: $size;
  display: inline-block;
  margin: 0 10px 20px 10px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  background: $gray-light;
  color: $white;
  border-radius: 400px;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $white;
    text-decoration: none;
    border: none;
    outline: none;

    &.add {
      background: $green;
    }

    &.account {
      background: #4f72f7;
    }

    &.symbol-help {
      background: $yellow;
    }
  }
}

.symbol-small {
  $size: 60px;
  margin: 0 0 10px 0;
  background: #ccc;
  font-size: 20px;
  line-height: $size;
  width: $size;
  height: $size;
}
