//
// Symbols
// --------------------------------------------------

.symbol {
  $size: 100px;
  width: $size;
  height: $size;
  line-height: $size;
  display: inline-block;
  margin: 0 10px 20px 10px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  background: #ccc;
  color: $white;
  border-radius: 400px;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $white;
    text-decoration: none;
    border: none;
    outline: none;

    &.add {
      background: $green;
    }

    &.account {
      background: #4f72f7;
    }

    &.symbol-help {
      background: $yellow;
    }
  }
}

.symbol-small {
  $size: 60px;
  margin: 0 0 10px 0;
  background: #ccc;
  font-size: 20px;
  line-height: $size;
  width: $size;
  height: $size;
}

.symbol-gray {
  // background-color: #738089;
}

.symbol-gray-light {
  // background-color: #ddd;
  // background-color: #738089;
}

.symbol-red {
  // background-color: #da5d3a;
  // background-color: #738089;
}

.symbol-orange {
  // background-color: #f39a18;
  // background-color: #738089;
}

.symbol-green {
  // background-color: #51bd88;
  // background-color: #738089;
}

.symbol-blue {
  // background-color: #43a6d8;
  // background-color: #738089;
}

.symbol-purple {
  // background-color: #a77ac3;
  // background-color: #738089;
}
