//
// Symbols
// --------------------------------------------------

.symbol {
  $size: 100px;
  width: $size;
  height: $size;
  line-height: $size;
  display: inline-block;
  margin: 0 10px 20px 10px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  background: #ccc;
  color: $white;
  border-radius: 400px;
  outline: none;

  &:hover,
  &:focus,
  &:active,
  &.active {
    background: $green;
    color: $white;
    text-decoration: none;
    border: none;
    outline: none;
  }
}

.symbol-small {
  $size: 60px;
  margin: 0 0 10px 0;
  background: #D6D6D6;
  font-size: 20px;
  line-height: $size;
  width: $size;
  height: $size;
}
