trix-toolbar {
  .history_tools,
  button.heading-1,
  button.code,
  button.block-level,
  button.strike,
  button.nesting-level {
    display: none;
  }

  button.quote {
    border-left: 0 !important;
  }
}

trix-editor {
  min-height: 200px;

  * {
    font-size: 14px;
  }

  ul, ol {
    padding-left: 15px;
  }

  blockquote {
    border-left: 2px solid #ccc;
    padding: 5px 10px;
    font-style: italic;
  }

  pre {
    font-family: Courier, monospace;
    font-size: 11px;
    padding: 5px;
  }
}
