//
// Wells
// --------------------------------------------------

.well {
  @include box-shadow(none);

  .lead {
    margin-bottom: 0;
  }
}

.well-lg {
  padding: 20px 15px;

  @media (min-width: $screen-sm-min) {
    padding: 30px 40px;
  }
}
