.btn-circle {
  color: $gray-light;
  font-weight: $font-weight-bold;
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $gray;
    @include transition(all, .2s);
    @include translate(0, -2px);
  }

  &.disabled {
    @include opacity(0.4);
  }
}