//
// Forms
// --------------------------------------------------

.form-centered {
  max-width: 500px;
  margin: 0 auto;
  background: $white;
  padding: 40px;
  border: 1px solid $gray-light;
  border-radius: $border-radius-base;
}

.addon-color {
  display: block;
}
