//
// Scaffolding
// --------------------------------------------------

body {
  padding: 60px 0;
  background: #eee;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

a {
  border-bottom: 2px solid transparent;
  @include transition(all, .1s);
  
  &:hover,
  &:focus {
    text-decoration: none;
    border-bottom: 2px solid lighten($brand-primary, 15%);
    padding-bottom: 1px;
  }
}
