.showbox {
  height: 40vh;
  overflow: hidden;
  background-image: none !important;

  text-align: center;
  position: relative;
  margin-bottom: 30px;

  h1 {
    @include translate(0, 20%);
  }
}

.showbox-fill {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  img {
    visibility: hidden;
  }
}