.symbol {
  $size: 100px;
  width: $size;
  height: $size;
  line-height: $size;
  display: inline-block;
  margin: 0 20px 0 0;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  background: grey;
  border-radius: 400px;
  color: $white;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $white;
    text-decoration: none;
    border: none;

    &.add {
      background: $green;
    }

    &.design {
      background: $purple;
    }
  }

}

.symbol-small {
  $size: 60px;
  margin: 0 0 10px 0;
  background: #ccc;
  font-size: 20px;
  line-height: $size;
  width: $size;
  height: $size;
}
