.symbol {
  $size: 100px;
  $size: 70px;
  width: $size;
  height: $size;
  line-height: $size;
  display: inline-block;
  margin: 0 10px 20px 10px;
  font-size: 40px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background: $gray;
  // background: $blue;
  // background: none;
  color: $white;
  // color: $gray-dark;
  // border: 4px solid $gray;
  background: #ccc;
  border-radius: 400px;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $white;
    text-decoration: none;
    border: none;

    &.add {
      background: $green;
    }

    &.design {
      background: $purple;
    }

    &.account {
      background: #4f72f7;
    }
  }

}

.symbol-small {
  $size: 60px;
  margin: 0 0 10px 0;
  background: #ccc;
  font-size: 20px;
  line-height: $size;
  width: $size;
  height: $size;
}
