@import 'core/variables';
@import 'bootstrap';
@import 'bootstrap-wysihtml5';
@import 'font-awesome';
@import 'bootstrap-responsive';
@import 'core/base';
@import 'components/*';
@import 'workspace/*';
@import 'workspace/editor';

.page-header {
  border-bottom: 1px solid rgba(#666, 0.1);
}

.page-footer {
  color: #999;
  padding-top: 9px;
  margin: 30px 0 20px;
  border-top: 1px solid rgba(#666, 0.1);
}

.toolbar-row {
  text-align: center;
}
