@import 'base/variables';
@import 'bootstrap';
@import 'font-awesome';
@import 'base/*';
@import 'components/*';

body {
  padding: 0 0 40px 0;
  line-height: 1.5;
  letter-spacing: 0.5px;
  background: 0;
}

.container-narrow {
  max-width: 800px;
  margin: 0 auto;
}

hr {
  margin: 40px 0;
}

header {
  padding-top: 15px;
  margin-bottom: 50px;
  background: #fafafa image-url('pattern.png');
  border-bottom: 1px solid $gray-light;

  @media (min-width: $screen-sm) {
    height: 370px;
  }

  h1 {
    background: #fafafa;
    display: inline-block;
    
    // img {
    //   width: 200px;
    // }
  }

  .lead {
    color: #50504F;
    font-weight: $font-weight-light;
    margin: 12px 0 30px;

    @media (min-width: $screen-sm) {
      font-size: 34px;
    }
  }

  .btn {
    padding: 14px 30px;
  }
}

form {
  margin: 25px 0;
}
