<footer class="page-footer">
  <p class="text-muted">
    &copy; <%= Date.today.year %> <a href="http://b.illions.co" target="_blank">
      Billions &amp; Billions Ltd
    </a> /
    <a href="<%= legal_url(subdomain: 'www') %>">Legal</a> /
    <a href="mailto:hello@upsite.io">Contact</a> /
    <a href="<%= roadmap_url(subdomain: 'www') %>">Roadmap</a> /
    <a href="<%= login_url(subdomain: 'www') %>" data-no-turbolink>Login</a>
  </p>
</footer>
