<footer class="footer">
  <div class="container">
    <div class="text-center">
      <small class="text-muted">
        &copy; <%= Date.today.year %> Billions &amp; Billions Ltd. /
        <a href="<%= terms_path %>">Terms</a> /
        <a href="<%= privacy_path %>">Privacy</a> /
        <a href="http://upsiteapp.tumblr.com">Blog</a> /
        <a href="mailto:hello@upsite.io">Contact</a>
      </small>
    </div>
  </div>
</footer>
