<footer class="page-footer">
  <p class="text-muted">
    &copy; <%= Date.today.year %> Billions &amp; Billions Ltd /
    <a href="<%= legal_url(subdomain: 'www') %>">Legal</a> /
    <a href="mailto:hello@upsite.io">Contact</a> /
    <a href="<%= login_url(subdomain: 'www') %>" data-no-turbolink>Login</a>
  </p>
</footer>
