<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-left">
        <p class="small">
          &copy; <%= Date.today.year %> Billions &amp; Billions Ltd.
        </p>
      </div>
      <div class="col-sm-6 text-right">
        <ul class="list-inline">
          <li>
            <a href="<%= terms_path %>">Terms</a>
          </li>
          <li>
            <a href="<%= privacy_path %>">Privacy</a>
          </li>
          <li>
            <a href="mailto:hello@upsite.io">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
