<% content_for :title, 'Legal' %>

<div class="row lead">
  <div class="col-md-6">
    <%= t_markdown('website.terms.body') %>
  </div>
  <div class="col-md-6">
    <%= t_markdown('website.privacy.body') %>
    <hr class="spacer spacer-xs">
    <%= t_markdown('website.cookies.body') %>
  </div>
</div>
