<% content_for :header, 'false' %>
<% content_for :title, 'Roadmap' %>

<div class="page-header">
  <h5>
    <a href="<%= root_url(subdomain: 'www') %>">
      Upsite
    </a>
  </h5>
  <h1>Roadmap</h1>
  <p class="page-description">
    Get an early look at the features coming soon to Upsite.
    Got an idea? <a href="mailto:help@upsite.io?subject=Feature">Let us know!</a>
  </p>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3 class="text-center">Next</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <h4 class="list-group-item-heading">Better image formats</h4>
        <p class="list-group-item-text">Image resizing and cropping</p>
      </li>
      <li class="list-group-item">
        <h4 class="list-group-item-heading">Page headers / dividers</h4>
        <p class="list-group-item-text">Group your page into sections</p>
      </li>
      <li class="list-group-item">
        <span class="label label-success" rel="tooltip" title="Requires subscription">PRO</span>
        <h4 class="list-group-item-heading">Custom domain</h4>
        <p class="list-group-item-text">Use your own domain name as your Upsite URL</p>
      </li>
    </ul>
  </div>
  <div class="col-sm-6">
    <h3 class="text-center">Future</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="label label-success" rel="tooltip" title="Requires subscription">PRO</span>
        <h4 class="list-group-item-heading">Call to action</h4>
        <p class="list-group-item-text">Display a prominant action button (email me, visit my store, etc.)</p>
      </li>
      <li class="list-group-item">
        <span class="label label-success" rel="tooltip" title="Requires subscription">PRO</span>
        <h4 class="list-group-item-heading">Page navigation</h4>
        <p class="list-group-item-text">Display links to jump quickly to a section of your page</p>
      </li>
      <li class="list-group-item">
        <span class="label label-success" rel="tooltip" title="Requires subscription">PRO</span>
        <h4 class="list-group-item-heading">Contact form</h4>
        <p class="list-group-item-text">Display a form enabling visitors to send you a message</p>
      </li>
      <li class="list-group-item">
        <h4 class="list-group-item-heading">Content editing</h4>
        <p class="list-group-item-text">Edit previously added content</p>
      </li>
      <li class="list-group-item">
        <h4 class="list-group-item-heading">Image zooming</h4>
        <p class="list-group-item-text">See full-screen versions of your images</p>
      </li>
      <li class="list-group-item">
        <h4 class="list-group-item-heading">Link element</h4>
        <p class="list-group-item-text">Add a text or icon element that links to another site</p>
      </li>
    </ul>
  </div>
</div>
