<% if cookies['cookies_consented'] != 'true' %>
  <div id="cookie-consent-banner" class="alert alert-info">
    <div class="container text-small">
      <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
      <%= t_markdown('website.cookies.message', link: legal_path(anchor: 'cookie-policy')) %>
    </div>
  </div>
<% end %>
