<!-- Modal -->

<%
  case size ||= ''
  when 'xl'
    id = 'modal-xl'
    class_name = 'modal-xl'
  else
    id = 'modal'
    class_name = 'modal'
  end
%>

<div class="modal <%= class_name %> fade" id="<%= id %>" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
