<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_url(subdomain: 'www') %>">
        <img src="<%# image_path('pagekit.png') %>" width="130">
      </a>
    </div>
    <div class="navbar-right hidden-xs">
      <p class="navbar-text">
        Ready to give PageKit a try?
      </p>
      <a class="btn btn-primary navbar-btn" href="<%= root_url(subdomain: 'www') %>">Sign up</a>
    </div>

  </div><!-- /.container-fluid -->
</nav>