<div class="hud">

  <!-- Add -->
  <% if @site.blocks.length < current_user.block_limit %>
    <a href="<%= new_block_path %>"
      class="add"
      title="Add" data-toggle="modal" data-target="#modal" rel="tooltip" data-placement="left">
      <i class="fa fa-plus fa-lg"></i>
    </a>
  <% end %>

  <!-- Settings -->
  <a href="<%= settings_path(:site) %>"
    title="Settings" data-toggle="modal" data-target="#modal" rel="tooltip" data-placement="left">
    <i class="fa fa-cog fa-lg"></i>
  </a>

  <!-- Help -->
  <a href="<%= new_help_path %>"
    class="help"
    title="Help" data-toggle="modal" data-target="#modal" rel="tooltip" data-placement="left">
    <i class="fa fa-question fa-lg"></i>
  </a>

</div>
