<div class="hud">
  <a href="<%= new_block_path %>" class="add symbol symbol-small" title="Add" data-toggle="modal" data-target="#modal" rel="tooltip"  data-placement="left">
    <i class="fa fa-plus fa-lg"></i>
  </a>

  <a href="<%= settings_design_path %>" class="design symbol symbol-small" title="Design" data-toggle="modal" data-target="#modal" rel="tooltip" data-placement="left">
    <i class="fa fa-tint fa-lg"></i>
  </a>

  <a href="<%= settings_account_path %>" class="account symbol symbol-small" title="Account" data-toggle="modal" data-target="#modal" rel="tooltip" data-placement="left">
    <i class="fa fa-cog fa-lg"></i>
  </a>
</div>

<div class="hud hud-bottom">
  <a href="<%= new_help_path %>" class="symbol symbol-small symbol-bottom symbol-help" title="Help" data-toggle="modal" data-target="#modal" rel="tooltip" data-placement="left">
    <i class="fa fa-question fa-lg"></i>
  </a>
</div>