<div class="hud">

  <!-- Add -->
  <% if current_user.pro? || (@site.blocks.length < current_user.plan.block_limit) %>
    <a href="<%= new_block_path %>"
      class="add"
      title="Add" data-toggle="modal" data-target="#modal" rel="tooltip" data-placement="left">
      <i class="fa fa-plus fa-lg"></i>
    </a>
  <% else %>
    <a href="<%= settings_path(tab: 'account') %>"
      class="add"
      data-toggle="modal"
      data-target="#modal"
      title="Upgrade" target="upgrade" rel="tooltip" data-placement="left">
      <i class="fa fa-plus fa-lg"></i>
    </a>
  <% end %>

  <!-- Settings -->
  <a href="<%= settings_path %>"
    title="Settings" data-toggle="modal" data-target="#modal" rel="tooltip" data-placement="left">
    <i class="fa fa-cog fa-lg"></i>
  </a>

  <!-- Help -->
  <a href="<%= new_help_path %>"
    class="help"
    title="Help" data-toggle="modal" data-target="#modal" rel="tooltip" data-placement="left">
    <i class="fa fa-question fa-lg"></i>
  </a>

</div>

<div class="hud hud-bottom"></div>
