<div class="navbar navbar-inverse">

    <div class="navbar-header">
      <!-- Brand -->
      <a class="navbar-brand" href="<%= root_url(subdomain: 'www') %>">
        Upsite
      </a>
    </div>

    <!-- Menu -->
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%= signup_path %>">Sign up</a></li>
      </ul>
    </div>

</div>
