<header>
  <h1><%= @site.title %></h1>
  <h2><%= @site.subdomain %>.sitespot.com</h2>
</header>

<div class="options">
  <a href="#" class="add symbol symbol-small" title="Add">
    <i class="icon-plus icon-large"></i>
  </a>
</div>

<hr>

<div class="widgets row"></div>

<hr>

<footer>
  &copy; <%= "#{Date.today.year} #{@site.title}" %>
</footer>
