<header class="page-header">
  <h1>
    <%= @site.title %>
    <small><%= @site.subdomain %>.sitespot.com</small>
  </h1>
</header>

<div class="options">
  <a href="#" class="add symbol symbol-small" title="Add">
    <i class="icon-plus icon-large"></i>
  </a>
</div>

<div class="widgets row"></div>

<hr>

<footer>
  &copy; <%= "#{Date.today.year} #{@site.title}" %>
</footer>
