<div class="modal-header" style="padding-bottom: 0; background: url(<%= image_path('banner.png') %>) 0% 0%; background-size: 500px;">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h3 class="modal-title text-center" style="font-size: 24px; margin-top: 20px;">
    Get
      the Custom URL
      <span class="label label-success" style="display: inline-block; transform: translate(0px, -3px);">ADD-ON</span>
  </h3>
  <p class="lead text-center">
    for <%= @site.name %>
  </p>
  <hr style="margin-bottom: 0;">
</div>

<div class="modal-body" style="background: #fff; padding-bottom: 0;">
  <div class="text-center" style="padding: 0 40px;">
    <p class="lead">
      This lets you use your own domain name as your Upsite URL.
      e.g. When visiting the domain <strong>mysite.com</strong> people will see your Upsite.
    </p>
    <p class="text-muted">
      Please note you will need to <a href="https://iwantmyname.com/" target="_blank">purchase a domain name</a> separately.
    </p>
  </div>
  <hr style="margin-bottom: 0; padding-bottom: 0;">
</div>

<div class="modal-footer" style="padding-top: 25px;">
  <div class="pull-left" style="margin-top: 8px;">
    <span class="text-muted">
      <i class="fa fa-lock"></i>&nbsp;
      Payments are securely processed with <strong>Stripe</strong>
    </span>
  </div>
  <a href="#" class="btn btn-success" disabled>Coming soon...</a>
</div>

<script>
  if (typeof ga !== 'undefined') {
    ga('send', 'event', 'User', 'upgrade', 'custom_domain_addon', 0);
  }
</script>
