<div class="modal-header" style="padding-bottom: 0; background: url(<%= image_path('banner.png') %>) 0% 0%; background-size: 500px;">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h3 class="modal-title text-center" style="font-size: 24px; margin-top: 20px;">
    Upsite <span class="label label-success" style="display: inline-block; transform: translate(0px, -3px);">PRO</span>
    is coming soon...
  </h3>
  <p class="lead text-center">
  </p>
  <hr style="margin-bottom: 0;">
</div>

<div class="modal-body text-center" style="font-size: 16px; background: #fff; padding-bottom: 0;">
  <p style="margin-top: 5px;">
    Thanks for your interest,
    we'll email you shortly!
  </p>
  <hr class="spacer spacer-xs">
  <p class="text-small">
    Get status updates:
  </p>
  <p>
    <a href="https://www.facebook.com/upsiteapp/" class="btn btn-default" target="_blank">
      <i class="fa fa-facebook" style="color: #3a5599;"></i>&nbsp;
      Like on Facebook
    </a>&nbsp;&nbsp;
    <a href="https://twitter.com/upsiteapp" class="btn btn-default" target="_blank">
      <i class="fa fa-twitter" style="color: #2b9ef6;"></i>&nbsp;
      Follow on Twitter
    </a>
  </p>
  <hr style="margin-bottom: 0; padding-bottom: 0;">
</div>

<div class="modal-footer" style="padding-top: 25px;">
  <a href="#" data-dismiss="modal" class="btn btn-success">Close</a>
</div>
