<script>
  Intercom('trackEvent', 'clicked-upgrade-confirm-test-button');
</script>

<div style="background: url(<%= image_path('banner.png') %>) 25% -10%; background-size: 300px;">

<div class="modal-header" style="padding-bottom: 0;">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h3 class="modal-title text-center" style="font-size: 24px; margin-top: 20px;">
    Upsite <span class="label label-success" style="display: inline-block; transform: translate(0px, -3px);">PRO</span>
    is coming soon...
  </h3>
  <p class="lead text-center">
  </p>
  <hr style="margin-bottom: 0;">
</div>

<div class="modal-body text-center" style="font-size: 16px; background: #fff; padding-bottom: 0;">
  <p style="margin-top: 5px;">
    Thanks for your interest,<br>
    we'll email you when it's ready!
  </p>
  <hr style="margin-bottom: 0; padding-bottom: 0;">
</div>

<div class="modal-footer" style="padding-top: 25px;">
  <a href="#" data-dismiss="modal" class="btn btn-success">Close</a>
</div>

</div>
